body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: tabular-nums;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default layout for small screens */
  grid-gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: start; /* Align cards to the left */

  /* Media query for medium screens */
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Media query for large screens */
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
