.cardview {
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.15s transform ease;
  cursor: pointer;
  height: auto;
  max-width: 400px;
}

.cardview:hover {
  transform: scale(1.1);
}

.img-card {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto; 
  margin-bottom: 20px;
}

.project-title {
  font-size: 18px;
  color: #FFF;
  text-align: left;
}

.project-link {
  opacity: 0.4;
  margin-top: 0;
  font-size: 16px;
  font-weight: 600px;
  color: #FFF;
  line-height: 0;
  text-align: left;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .cardview {
    padding: 10px;
    margin: 10px;
  }
  
  .img-card {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-title {
    font-size: 16px;
  }
  
  .project-link {
    font-size: 14px;
  }
}
